<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>Dashboard Page</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<!--Create the buttons for these html files "createAccount.html">Create Account</a>
    <a href="myAccounts.html">My Accounts</a>
    <a href="deposit.html">Deposit</a>
    <a href="withdraw.html">Withdraw</a>
    <a href="transfer.html">Transfer</a>
    <a href="../../Milestone3/Templates/TransferTo.html">Transfer To</a>
    <a href="../../Milestone3/Templates/profile.html"> dashboard beautifully and give the page a professional.
     -->
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Dashboard</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3>My Accounts</h3>
                                                <p>View your accounts</p>
                                            </div>
                                            <div class="stat">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                        </div>
                                        <hr> <a href="../../Milestone2/templates/myAccounts.html">View Accounts</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3>Create Account</h3>
                                                <p>Create a new account</p>
                                            </div>
                                            <div class="stat">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                        </div>
                                        <hr> <a href="../../Milestone2/templates/createAccount.html">Create Account</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3>Deposit</h3>
                                                <p>Deposit money into your account</p>
                                            </div>
                                            <div class="stat">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                        </div>
                                        <hr> <a href="../../Milestone2/templates/deposit.html">Deposit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3>Withdraw</h3>
                                                <p>Withdraw money from your account</p>
                                            </div>
                                            <div class="stat">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                        </div>
                                        <hr> <a href="../../Milestone2/templates/withdraw.html">Withdraw</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3>Transfer</h3>
                                                <p>Transfer money between your accounts</p>
                                            </div>
                                            <div class="stat">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                        </div>
                                        <hr> <a href="../../Milestone2/templates/transfer.html">Transfer</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3>Transfer To</h3>
                                                <p>Transfer money to another account</p>
                                            </div>
                                            <div class="stat">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                        </div>
                                        <hr> <a href="../../Milestone3/Templates/TransferTo.html">Transfer To</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3>Profile</h3>
                                                <p>View your profile</p>
                                            </div>
                                            <div class="stat">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                        </div>
                                        <hr> <a href="../../Milestone3/Templates/profile.html">Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3>Logout</h3>
                                                <p>Logout of your account</p>
                                            </div>
                                            <div class="stat">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                        </div>
                                        <hr> <a href="../../Milestone3/Templates/logout.html">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>