{% extends "layout.html" %}
{% block title %}Company Directory{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="h3 text-center">Company Directory</div>
    {# TODO
    build a horizontal filter/sort form with
    name (company name)
    country/state (provided)
    sort/order (using allowed_columns and provided partial template)
    limit
    ensure all fields prefill with request arg data if provided
    #}
    <form method="GET">
        <h5>Filter</h5>

        <div class="col-12" >
            <input class="form-control mb-3" id="name" name="name" type="text" placeholder="Company Name"  value="{{request.args.get('name', '')}}" />
        </div>
        {% with layout = "horizontal" %}
        {% include "country_state_selector.html" %}
        {% endwith %}
        <br>
        <h5>Sort by</h5>
        {% with cols = allowed_columns %}
        {% include "sort_filter.html" %}
        {% endwith %}
        <br>
        <h5>Limit</h5>
        <div class="col-12" >
            <input class="form-control mb-3" id="limit" name="limit" value="{{request.args.get('limit', '')}}" type="number" min="1" max="100" placeholder="Limit" />
        </div>
        <br>
        <div class="row">        
            <div class="col-6">
                <input type="submit" class="btn btn-primary" value="Filter" />
            </div>
            <div class="col-6">
                <a href="?" class="btn btn-primary">Reset</a>
            </div>
        </div>
    </form>
    <div class="table-responsive">
    <table class="table ">
        {% if rows and rows|length > 0 %}
        <thead>
            <tr class="text-capitalize">
                {# generate th tags for each column to display #}
                {# IMPORTANT use table column names as the headings, replace _ with space #}
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>State</th>
                <th>Zip</th>
                <th>Website</th>
                <th>Employees</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {# generate tr with td tags for each piece of data #}
            {# if the td is for website, display it as a link where the text is "website" and the url is the
            website url #}
            {# in the last column add the following
            a view button that passes the company id to employee search (this will be a company employee
            directory) also pass company_name as an argument
            an edit button that passes the company id to company edit
            a delete button that passes the company id and the request args to the company delete route
            #}
            {% for row in rows %}
            <tr>
                <td>{{row.name}}</td>
                <td>{{row.address}}</td>
                <td>{{row.city}}</td>
                <td>{{row.country}}</td>
                <td>{{row.state}}</td>
                <td>{{row.zip}}</td>
                <td><a href="{{row.website}}">{{row.website}}</a></td>
                <td>{{row.employees}}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ url_for('company.edit', id=row['id'], country=row.country, state=row.state) }}" role="button">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('company.delete', id=row['id']) }}" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td colspan="100%">No results to show</td>
            </tr>
        </tbody>
        {% endif %}
    </table>
    </div>
</div>
{% endblock %}